body{
	background: lavender;
}

#color{
	position: absolute;
	height: 13%;
	width: 100%;
	background-color: #3B5998 ;
	position: absolute;
	top: -1%;
	left: -0%;	
}

#font{
	color: white;
	font-family: 'Lucida Console', Monaco, monospace;
}

form{
  position:absolute;
   top:10%;
   left:40%;
   font-family: 'Lucida Console', Monaco;
}

/*#empty{


	color: black;
	background-color: red;
	
}
*/
#name{
	padding: 5px;
}

#prenom{
	padding: 5px;
	border-radius: 5px;
	border-color: silver;  
}

#lastName{
	padding: 5px;
	border-radius: 5px;
	border-color: silver; 
}

.m{
	padding: 5px;
}

#mail{
	padding: 5px;
	border-radius: 5px;
	border-color: silver; 
}

.p{
	padding: 5px;
}

#pass{

	padding: 5px;
	border-radius: 5px;
	border-color: silver; 
}

#opt{
	margin: 5px;
}


#gender{
	margin: 5px;
}

#cond{
	text-align: left;
	width: 45%;
}

button{
	background-color: #67ae55;
	box-shadow: inset 0 1px 1px #a4e388;
	border-radius: 5px;
	height: 40px;
	width: 100px;
}